*{
padding: 0;
font-family: sans-serif;
}

#circle{
  width: 1000px;
  height: 1000px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 0%;
  background: #ffffff;
}

  /* background here */

  body, html {
      height: 100%;
      text-align: center;
  }

  body {
    height: 10000px;
    width: 1800px;
    background-color: #ffffff;
    display: flex;
  }
  
 /*  text is here */

#text1{
  font-size: 75px;
color: rgb(0, 0, 0);
top: 900px;
left: 1px;
bottom: 250px;
position: relative;
display: flex;
}

#text2{
  display: flex;
color: rgb(0, 0, 0);
top: 150px;
left: 350px;
position: static;
}

#text3{
  display: flex;
  color: rgb(0, 0, 0);
  left: 50px;
  bottom: 450px;
  position: static;
}


/* all images are here */

#nav-link{
  top: 100px;
  bottom: 100px;
  position: relative;
}

#logo{
  max-width: 100%;
  position: absolute;
  margin: 0;
  right: 100px;
  bottom: 100px;
  left: 100px;
  top: 100px;
}

#opentext{
  font-size: 50px;
  position: absolute;
    color: rgb(0, 0, 0);
    right: 100px;
    left: 100px;
    bottom: 100px;
    top: 325px;
}

#topName{
  font-size: 10px;
  position: absolute;
  color: #5e5c5c;
  top: -75px;
  left: -50px;
  bottom: 100px;
}