*{
  scroll-behavior: smooth;
padding: 0;
font-family: sans-serif;
}

#circle{
  width: 0px;
  height: 0px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 0%;
  background: #ffffff;
}

  /* background here */

  body, html {
      height: 100%;
      text-align: center;
  }

  body {
    height: 2500px;
    width: 1800px;
    background-color: #ffffff;
    display: flex;
  }
  
 /*  questions here, answers here (98-110) */

#text1{
  font-size: 70px;
color: rgb(0, 0, 0);
top: 800px;
left: 100px;
bottom: 350px;
right: 100px;
position: absolute;
}

#text2{
  font-size: 65px;
color: rgb(0, 0, 0);
top: 1400px;
bottom: 650px;
left: 150px;
right: 100px;
position: absolute;
}

#text3{
  font-size: 60px;
  color: rgb(0, 0, 0);
  left: 150px;
  bottom: 1200px;
  top: 2000px;
  right: 75px;
  position: absolute;
}


/* images here */

#nav-link{
  top: 100px;
  bottom: 100px;
  position: relative;
}

#logo{
  max-width: 100%;
  position: absolute;
  margin: 0;
  right: 100px;
  bottom: 100px;
  left: 100px;
  top: 100px;
}

/* top text here */

#opentext{
  font-size: 50px;
  position: absolute;
    color: rgb(0, 0, 0);
    right: 100px;
    left: 125px;
    bottom: 100px;
    top: 325px;
}

#topName{
  font-size: 10px;
  position: fixed;
  color: #5e5c5c;
  top: 15px;
  left: 25px;
  bottom: 1000px;
}

/* answers here */

#text1ans{
  font-size: 50px;
  position: absolute;
  color: rgb(0, 0, 0);
  top: 1100px;
  left: 150px;
  bottom: 650px;
  right: 100px;
}

#text2ans{
  font-size: 50px;
  position: absolute;
  color: #000000;
  top: 2250px;
  bottom: 550px;
  left: 175px;
  right: 100px;
}

#text3ans{
  font-size: 50px;
  color: rgb(0, 0, 0);
  top: 1700px;
  bottom: 650px;
  left: 225px;
  right: 100px;
  position: absolute;
}

/* scroll down gif here */

#scrollarrow{
  max-width: 100%;
  position: absolute;
  margin: 0;
  right: 100px;
  bottom: 100px;
  left: 75px;
  top: 550px;
}

/* bottom icons and text here */

#github {
  position: absolute;
  margin: 0;
  right: 100px;
  bottom: 100px;
  left: 100px;
  top: 2750px;
}

#mail {
  position: absolute;
  margin: 0;
  right: 100px;
  bottom: 100px;
  left: 100px;
  top: 2750px;
}

#yt{
  position: absolute;
  margin: 0;
  right: 100px;
  bottom: 100px;
  left: 100px;
  top: 2750px;
}

#endtext{
  bottom: 100px;
  top: 2670px;
  left: 100px;
  right: 100px;
  position: absolute;
  color: rgba(56,49,68,.6);
  font-size: 15px;
  font-weight: 175px;
}