*{
padding: 0;
font-family: sans-serif;
}

#circle{
  width: 1000px;
  height: 1000px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 0%;
  background: #ffffff;
}

  /* background here */

  body, html {
      height: 100%;
      text-align: center;
  }

  body {
    height: 2000px;
    width: 2000px;
    background-color: #ffffff;
  }
  
 /*  text is here */

#text1{
color: rgb(0, 0, 0);
top: 450px;
left: 350px;
position: relative;
}

#text2{
color: rgb(0, 0, 0);
top: 150px;
left: 350px;
position: relative;
}

#text3{
  color: rgb(0, 0, 0);
  left: 50px;
  bottom: 450px;
  position: relative;
}

#text4{
  color: rgb(41, 70, 126);
  right: 350px;
  bottom: 150px;
  position: relative;
}

/* all images are here */

#nav-link{
  top: 100px;
  bottom: 100px;
  position: relative;
}

#logo{
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  margin: 0;
  right: 100px;
  bottom: 100px;
  left: 100px;
  top: 100px;
}

#opentext{
  font-size: 50px;
  position: relative;
    color: rgb(0, 0, 0);
    right: 100px;
    left: -400px;
    bottom: 1000px;
    top: -400px;
}