*{
font-family: sans-serif;
}

  /* background here */


  body, html {
      height: 100%;
      text-align: center;
  }

  body {
    height: 2510px;
    width: 1024px;
    background-color: #ffffff;
    display: flex;
  }
  

 /*  questions here, answers here (98-110) */

#text1{
color: #000000;
z-index: 9;
font-size: 4vw;
top: 800px;
left: 100px;
bottom: 350px;
right: 100px;
position: absolute;
}

#text2{
  color: #000000;
z-index: 9;
font-size: 4vw;
top: 1400px;
bottom: 650px;
left: 150px;
right: 100px;
position: absolute;
}

#text3{
color: #000000;
  z-index: 9;
  font-size: 4vw;
  left: 20px;
  bottom: 500px;
  top: 1600px;
  right: 200px;
  position: relative;
}


/* images here */

#logo{
  z-index: 9;
  position: absolute;
  right: 100px;
  bottom: 100px;
  left: 100px;
  top: 100px;
}

/* top text here */

#opentext{
  z-index: 9;
  font-size: 50px;
  position: absolute;
    color: rgb(0, 0, 0);
    right: 100px;
    left: 100px;
    bottom: 100px;
    top: 325px;
}


/* unreleased #rainbowToby{
background: linear-gradient(90deg, #ff0000, #1100ff);
padding-left: var(--padding);
padding-right: var(--padding);
display: inline;
 color: transparent;
 -webkit-background-clip: text;
 background-clip: text;
  z-index: 9;
  font-size: 50px;
  position: absolute;
    right: 100px;
    left: 410px;
    bottom: 100px;
    top: 325px;
}
*/

/* unvisited link */
#topName{
  color: rgba(15, 13, 19, 0.6);
  text-decoration: none;
  font-size: 10px;
  position: fixed;
  top: 15px;
  left: 25px;
  bottom: 1000px;
}

/* answers here */

#text1ans{
  z-index: 9;
  font-size: 3vw;
  position: absolute;
  color: rgb(0, 0, 0);
  top: 1100px;
  left: 150px;
  bottom: 650px;
  right: 100px;
}


#text2ans{
  z-index: 9;
  font-size: 3vw;
  position: absolute;
  color: #000000;
  top: 2250px;
  bottom: 550px;
  left: 175px;
  right: 100px;
}

  
#text3ans{
  z-index: 9;
  font-size: 3vw;
  color: rgb(0, 0, 0);
  top: 1700px;
  bottom: 650px;
  left: 225px;
  right: 100px;
  position: absolute;
}



/* scroll down gif here */

#scrollarrow{
  max-width: 100%;
  position: absolute;
  margin: 0;
  right: 100px;
  bottom: 100px;
  left: 75px;
  top: 550px;
}

/* bottom icons and text here */


#waves{
  z-index: 5;
  position: absolute;
  margin: 0;
  right: 100px;
  bottom: 100px;
  left: 100px;
  top: 2300px;
  height: 100%;
  width: auto;
}

#github {
  z-index: 9;
  position: absolute;
  margin: 0;
  right: 100px;
  bottom: 50px;
  left: 100px;
  top: 2600px;
}

#mail {
  z-index: 9;
  position: absolute;
  margin: 0;
  right: 200px;
  bottom: 50px;
  left: 100px;
  top: 2600px;
}

#yt{
  z-index: 9;
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 50px;
  left: 100px;
  top: 2600px;
}

#endtext{
  z-index: 9;
  bottom: 100px;
  top: 2650px;
  left: 100px;
  right: 100px;
  position: absolute;
  color: rgba(56,49,68,.6);
  font-size: 15px;
  font-weight: 175px;
}