.title{
    font-family: sans-serif;
    position: absolute;
    top: 1%;
    left: 10%;
    font-size: 18vh;
}

.subtitle{
    position: absolute;
    top: 29%;
    left: 10%;
    font-family: sans-serif;
    font-size: 4vh;
    color: #6e6e6e;
    font-weight: normal;
}

.para0{
    font-family: sans-serif;
    font-weight: thin;
    font-size: 3vh;
    position: absolute;
    top: 38.5%;
    left: 40%;
}

.Rethome{
    position: absolute;
    top: 2%;
    left: 2%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2vh;
    text-decoration: none;
    color: rgba(15, 13, 19, 0.6) !important;
}


a:link{
    color: rgb(0, 0, 0)
  }
  
  a:visited{
    color: rgb(0, 0, 0)
  }
  
  a:hover{
    color: #3d3d3d;
  }
  
  a:active{
    color: rgb(0, 0, 0);
  }