*{
  font-family: sans-serif;
}

  body, html {
    height: 100%;
    text-align: center;
  }

  body {
    height: 2515px;
    width: 1024px;
    background-color: #ffffff;
    display: flex;
  }
  


.text1{
  color: #000000;
  z-index: 9;
  font-size: 7vw;
  top: 90%;
  left: 32%;
  position: absolute;
}

.text2{
  color: #000000;
  z-index: 9;
  font-size: 7vw;
  top: 150%;
  right: 27%;
  position: absolute;
}

.text3{
  color: #000000;
  z-index: 9;
  font-size: 7vw;
  left: 29.5%;
  top: 205%;
  position: absolute;
}

.memoji{
  z-index: 9;
  position: absolute;
  left: 41%;
  top: 10%;
  height: 45vh;
  width: auto;
}

.opentext{
  z-index: 9;
  font-size: 10vh;
  position: absolute;
  color: rgb(0, 0, 0);
  left: 35%;
  top: 50%;
}

.topName{
  color: rgba(15, 13, 19, 0.6) !important;
  text-decoration: none;
  font-weight: bold;
  font-size: 2vh;
  position: fixed;
  top: 2%;
  left: 25px;
  bottom: 1000px;
}

.text1ans{
  z-index: 9;
  font-size: 3vw;
  position: absolute;
  color: rgb(0, 0, 0);
  top: 117%;
  left: 22%;
}


.text2ans{
  z-index: 9;
  font-size: 3vw;
  position: absolute;
  top: 175%;
  left: 5%;
  right: 5%
}

  
.text3ans{
  z-index: 9;
  font-size: 3vw;
  color: rgb(0, 0, 0);
  top: 232%;
  right: 23%;
  position: absolute;
}


.scrollarrow{
  max-width: 100%;
  position: absolute;
  top: 70%;
  left: 41%;
  height: 30vh;
  width: auto;
}


.github {
  display: inline;
  z-index: 9;
  position: absolute;
  margin: 0;
  top: 269%;
  left: 48.75%;
  background-color: transparent !important
}

.mail {
  display: inline;
  z-index: 9;
  position: absolute;
  margin: 0;
  top: 269%;
  left: 46%;
  background-color: transparent !important
}

.twitter{
  display: inline;
  z-index: 9;
  position: absolute;
  margin: 0;
  top: 269%;
  left: 51.5%;
  background-color: transparent !important
}

.endtext{
  display: inline;
  z-index: 9;
  top: 273%;
  right: 40%;
  position: absolute;
  color: rgba(56,49,68,.6);
  font-size: 15px;
  font-weight: 175px;
}

.sendBlog{
  display: inline-block;
  position: absolute;
  top: 3%;
  right: 2%;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5vh;
}

.sendProj{
  display: inline-block;
  position: absolute;
  top: 3%;
  right: 7.5%;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5vh;
}

.sendAbout{
  display: inline-block;
  position: absolute;
  top: 3%;
  right: 15%;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5vh;
}

a:link{
  color: rgb(0, 0, 0)
}

a:visited{
  color: rgb(0, 0, 0)
}

a:hover{
  color: #979797;
}

a:active{
  color: #686868;
}

